.texto-azul {
    color: crimson;
}

.alert-primary {
    margin: 25px;
    margin: ;
}

.card{
    margin-left : 50px;
    margin-right : 50px;
}

.card-body {
    margin-left: 5px
}

.dropdown{
    margin-left: 40px
}

.form-control {
    margin-left: 25px;
    border: px solid #ced4da;
}

.form-group {
    margin-left:  
}

.form-group2 {
    margin-left: 900px  
}

.alert-warning {
	margin-left: 50px; 
	margin-right: 50px;
	background:  #ffffff;
	
}