<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Projeto Estimado</title>
<link rel="styleshet" type="text/css" href="/css/boostrap.min.css" />
<link rel="styleshet" type="text/css" href="/style.css" />

</head>
<body>

	<!-- <!-- Just an image -->
	<!-- <nav class="navbar navbar-light bg-light"> -->
	<!--   <a class="navbar-brand" href="#"> -->
	<!--     <img src="/images/download.jpeg" width="150" height="150" align="center"> -->
	<!--   </a> -->
	<!-- </nav> -->

	<nav class="navbar navbar-dark bg-dark"> <!-- 	<div class="container-fluid"> -->
	<!-- 		<div class="navbar-header"> --> <a class="navbar-brand" href="#">
		<img alt="Estacio" src="/images/download.jpeg" />
	</a> <!-- 		</div> --> <!-- 	</div> --> </nav>

	<form class="form-horizontal">
		<div class="accordion" id="accordionExample">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse"
							data-target="#collapseOne" aria-expanded="true"
							aria-controls="collapseOne">Collapsible Group Item #1</button>
					</h2>
				</div>
	</form>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



	<script src="/js/boostrap.min.js"></script>
</body>
</html>